h1 {
  position: absolute;
  left: 50px;
  color: blue;
  font-family: lucida;
  font-size: 80px
}

img {
  position: absolute;
  right: 100px;
}

h2 {
  position: absolute;
  left: 30px;
  font-size: 50px;
  font-family: lucida;
}
